database = {{ pyrma_database.name }}
host = {{ pyrma_database.host }}
port = {{ pyrma_database.port }}
user = {{ pyrma_database.username }}
password = {{ pyrma_database.password }}
table = aaa_user
user_column = username
pwd_column = password
expired_column = expire
pw_type = md5
