[Main]
# Логирование
# Уровни  CRITICAL, ERROR, WARNING, INFO, DEBUG
log_level = {{ app_log_level }}

# Расположение файлов записи и бекапов файлов передачи
data_dir = {{ app_data_dir }}
app_dir = {{ app_folder }}
app_ip_address = {{ app_ip_address }}

auto_extension = 1
extension_days = 21

check_source_ip = 1

forward_tcp_port_range = 10000:15000

[Email]
type = smtp
host = {{ email_smtp_host }}
port = {{ email_smtp_port }}
domain_name = {{ email_domain_name }}
from = {{ email_send_from }}

[DataBase]
provider = postgresql
dbhost = {{ pyrma_database.host }}
dbport = {{ pyrma_database.port }}
dbuser = {{ pyrma_database.username }}
dbpass = {{ pyrma_database.password }}
dbname = {{ pyrma_database.name }}

[Web]
log_level = {{ app_log_level }}
ip = {{ app_web_ip }}
port = {{ app_web_port }}
template = {{ app_folder }}/web

[Firewall]
firewall_forward_table = pyrma_forward
tcp_capture_folder = capture
tcp_forward_interface = {{ tcp_forward_interface }}

[FileTransfer]
file_transfer_folder = transfer
file_transfer_backup_folder = backup

[IPMI]
local_ips = {{ ipmi_local_ip_list }}
