h2#imPgTitle {float: left; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_3 > div { float: right; }
#imGroup_4 > div { float: left; }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
@media (min-width: 960px) {
	#imPgTitle { width: 934px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 948px; }
	#imGroup_2 { width: 948px; height: 15px; }
	#imGroup_3 { width: 948px; }
	#imGroup_4 { width: 632px; }
	#imCell_2 { width: 310px; min-height: 356px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 310px; min-height: 356px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_5 { width: 316px; height: 362px; }
	#imGroup_6 { width: 316px; height: 362px; }
	#imGroup_7 { width: 948px; height: 15px; }
	
}
@media  (max-width: 959px) and (min-width: 720px) {
	#imPgTitle { width: 694px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 708px; }
	#imGroup_2 { width: 708px; height: 15px; }
	#imGroup_3 { width: 708px; }
	#imGroup_4 { width: 472px; }
	#imCell_2 { width: 232px; min-height: 356px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_2 { width: 232px; min-height: 356px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 2px; right: 2px; }
	#imGroup_5 { width: 236px; height: 362px; }
	#imGroup_6 { width: 236px; height: 362px; }
	#imGroup_7 { width: 708px; height: 15px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
	#imPgTitle { width: 454px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 468px; clear: left; }
	#imGroup_2 { width: 468px; height: 0px; clear: left; }
	#imGroup_3 { width: 468px; clear: left; }
	#imGroup_4 { width: 468px; clear: right; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 462px; min-height: 356px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 462px; min-height: 356px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_5 { width: 468px; height: 0px; clear: left; }
	#imGroup_6 { width: 468px; height: 0px; clear: right; }
	#imGroup_7 { width: 468px; height: 0px; clear: left; }
	
}
@media  (max-width: 479px) {
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { display: none; clear: left; }
	#imGroup_3 { width: 100%; clear: left; }
	#imGroup_4 { width: 100%; clear: right; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 3px 3px -347px 3px; }
	#imCellStyleGraphics_2 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_5 { display: none; clear: left; }
	#imGroup_6 { display: none; clear: right; }
	#imGroup_7 { display: none; clear: left; }
	
}
