{% extends "administrate.html" %}

{% block admin %}
<form action="/administrate/logs" method="POST" name="set_day">
    {{ form.csrf_token }} {{ form.date(type='date') }} {{ form.user() }} {{ form.sub() }}
</form>
<hr>
<table border="1" width="95%">
    <tbody>
        <th>Дата</th>
        <th>Пользователь</th>
        <th>Действие</th>
        <th>Комментарий</th>
        {% for action, action_type, user in action_list %}
        <tr>
            <td width="15%">{{ action.date }}</td>
            <td width="15%"><a href="/administrate/user/{{user.uid}}">{{ user.full_name }}</a></td>
            <td width="30%">{{ action_type.name }}</td>
            <td width="40%">{{ action.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}