{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='administrate') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<hr>
<div class="admin_add_button">
    <ul class="admin_add_button">
        <li class="admin_add_button"> <a class="admin_add_button" href="/administrate/group">Группы</a> </li>
        <li class="admin_add_button"> <a class="admin_add_button" href="/administrate/users">Пользователи</a> </li>
        <li class="admin_add_button"> <a class="admin_add_button" href="/administrate/access">Доступы</a> </li>
        <li class="admin_add_button"> <a class="admin_add_button" href="/administrate/logs">Логи</a> </li>
        <li class="admin_add_button"> <a class="admin_add_button" href="/administrate/session">Сессии</a> </li>
    </ul>
</div>
<hr>
<div class="admin_content">
    {% block admin %}{% endblock %}
</div>
{% endblock %}