{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}
{% from "_formhelpers.html" import render_field %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='administrate') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<h3>
    Смена пароля {{ user.full_name }}
</h3>
<form action="/administrate/user/{{ user.uid }}/change_password" method="POST" name="add_folder">
  {{ form.csrf_token }}
  <dl>
    {{ render_field(form.password, size=45) }}
    {{ render_field(form.confirm, size=45) }}
  </dl>
  <p>{{ form.change_password() }}
</form>
{% endblock %}