{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='connection') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}
{% block content %}
<form action="/connection" method="POST" name="change_date">
    {{ filter_field.csrf_token }}
    <p>
        {{ filter_field.date() }} {{ filter_field.sub() }}
    </p>
</form>
<hr>
<h3>{{ message }}</h3>
<table border="1" width="95%">
    <th></th>
    <th>Хост</th>
    <th>Пользователь</th>
    <th>Подключение</th>
    <th>Статус</th>
    <th>Завершение</th>
    <th>Дата Начала</th>
    <th>Дата завершения</th>
    <th>Ошибка</th>
    {% for i in connections %}
    {% if i['connection'].termination == 2 %} <tr bgcolor="#ff807a"> {% else %} <tr> {% endif %}
        <td align=center><a href="/connection/{{ i['connection'].id }}">
            <img
                    src="{{ url_for('static', filename='icon/eye.png') }}"
                    alt="View"
                    height="15px"
            >
        </a></td>
        <td><a href="/host/{{ i['host'].id }}"> {{ i['host'].name }}</a></td>
        <td><a href="/administrate/user/{{ i['user'].uid }}"> {{ i['user'].full_name }}</a></td>
        {% if i['connection'].connection_type == 1 %}<td>Терминальное</td>{% endif %}
        {% if i['connection'].connection_type == 2 %}<td>Передача данных</td>{% endif %}
        {% if i['connection'].connection_type == 3 %}<td>Сервисы</td>{% endif %}
        {% if i['connection'].connection_type == 4 %}<td>IPMI</td>{% endif %}
        {% if i['connection'].status == 1 %}<td>Подключен</td>{% endif %}
        {% if i['connection'].status == 2 %}<td>Отключен</td>{% endif %}
        {% if i['connection'].termination == 0 %}<td>Нормальное завершение</td>{% endif %}
        {% if i['connection'].termination == 1 %}<td>Принудительное завершение</td>{% endif %}
        {% if i['connection'].termination == 2 %}<td>Ошибка</td>{% endif %}
        <td>{{i['connection'].date_start}}</td>
        <td>{{i['connection'].date_end}}</td>
        <td>{{i['connection'].error}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}