{% macro user_dashboard() %}
    user
{% endmacro %}

{% macro admin_dashboard(content) %}
<hr>
<div class="statusPanel">
        <ul class="statusPanel">
            <li>{{ content['connection_count'] }}</li>
            <li>{{ content['la'] }} la</li>
            <li>Mem {{ content['free'] }}% Used</li>
            <li>Disk {{ content['disk'] }}% Used</li>
        </ul>
    </div>
    <hr>
    {% if content['access_request']|length != 0 %}
    <div class="accessRequest">
        accessRequest
        <ul>
            {% for i in content['access_request'] %}
            <li>
                {{ i }}
            </li>
            {% endfor %}
        </ul>
        <hr>
    </div>
    {% endif %}
    <div class="currentConnection">
        <h3><a href="connection">Текущие подключения</a></h3>
        <ul>
            {% for i in content['connection'] %}
            <li>
                {{ i }}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endmacro %}