{% macro user_dashboard() %}
    user
{% endmacro %}

{% macro admin_dashboard(content) %}
<hr>
<div class="statusPanel" xmlns="http://www.w3.org/1999/html">
        <ul class="statusPanel">
            <li>connection</li>
            <li>la</li>
            <li>free</li>
            <li>Disk</li>
            <li>DB state</li>
        </ul>
    </div>
    <hr>
    {% if content['access_request']|length != 0 %}
    <div class="accessRequest">
        accessRequest
        <ul>
            {% for i in content['access_request'] %}
            <li>
                {{ i }}
            </li>
            {% endfor %}
        </ul>
        <hr>
    </div>
    {% endif %}
    <div class="currentConnection">
        <h3><a href="connection">Текущие подключения</a></h3>
        <ul>
            {% for i in content['connection'] %}
            <li>
                {{ i }}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endmacro %}