{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='host') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<center>
    <h3>Удалить сервис?</h3>
    <table>
        <tr>
            <td>
                <form action="/delete_service/{{ service.id }}" method="POST" name="delete_service">
                    {{ form.csrf_token }}
                    <input class="delete_service" type="submit" value="Удалить"/>
                </form>
            </td>
            <td>
                <a href="/host/{{ service.host }}"><button>Назад</button></a>
            </td>
        </tr>
    </table>
</center>
{% endblock %}