{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='host') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<center>
    <h3>Удалить сервис: {{ service.name }}?</h3>
    <table>
        <tr>
            <td>
                <form action="/administrate/delete/service/{{service.default_port}}" method="POST" name="delete_service">
                    {{ del_button.csrf_token }} {{ del_button.sub() }}
                </form>
            </td>
            <td>
                <a href="/administrate/service"><button>Назад</button></a>
            </td>
        </tr>
    </table>
</center>
{% endblock %}