{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(Admin=admin, Active='host') }}
{{ show_search() }}
{{ super() }}
{% endblock %}

{% block content %}
<hr>
{% if status %}
<div class="editFolderStatus">
    {{ status }}
    <br>
    <a href="/hosts/{{ directory_id }}">Назад</a>
</div>
{% else %}
<div class="editFolderForm">
    <h3>Добавить директорию</h3>
    <form action="/hosts/{{ directory_id }}/edit_folder" method="POST" name="edit_folder">
        Название директории:<br>
        <input name="name" type="text" size="45" value="{{ host.name }}"/><br/>
        Краткое описание:<br>
        <input name="describe" type="text" size="45" value="{{ host.describe }}"/><br/>
        Note:<br>
        <textarea name="note" rows="15" cols="45">{{ host.note }}</textarea><br/>
        <input class="submit_edit_folder" type="submit" value="Редактировать"/><br>
    </form>
</div>
{% endif %}
{% if error %}
<div class="editFolderError">
    <h3>{{ error }}</h3>
    <br>
    <a href="/hosts/{{ directory_id }}">Назад</a>
</div>
{% endif %}
{% endblock %}