{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(Admin=admin, Active='host') }}
{{ show_search() }}
{{ super() }}
{% endblock %}
{% block content %}
<hr>
{% if Search %}
<center>
    <h2>Поиск</h2>
    <h3>{{ Search }}</h3>
</center>
<hr>
{% else %}
{% if EditHostInformation or EditDirectory or admin%}
<div class="host_add_button">
    <ul class="host_add_button">
        {% if EditHostInformation or admin%} <li class="host_add_button"> <a class="host_add_button" href="/hosts/{{ directory_id }}/add_host">Добавить хост</a> </li> {% endif %}
        {% if EditDirectory or admin%} <li class="host_add_button"> <a class="host_add_button" href="/hosts/{{ directory_id }}/add_folder">Добавить директорию</a> </li> {% endif %}
        {% if EditDirectory or admin%} <li class="host_add_button"> <a class="host_add_button" href="/hosts/{{ directory_id }}/edit_folder">Редактировать директорию</a> </li> {% endif %}
        {% if EditDirectory or admin%} <li class="host_add_button"> <a class="host_add_button" href="/route/{{ directory_id }}">Маршрут</a> </li> {% endif %}
    </ul>
</div>
<hr>
{% endif %}
{{ path }}
<hr>
{% if note %}
<div class="note_folder">
    <details>
        <summary>Note</summary>
        {% for key, value in note.items()|sort() %}
            <h5>{{ key }}</h5>
            <p>{{ value }}</p>
        {% endfor %}
    </details>
</div>
<hr>
{% endif %}
{% endif %}
<div class="hosts">
    {% for host in host_list %}
        {% if host.type == 1 %}
            <div class="host_line"><a href="/host/{{ host.id }}">{{ host.name }}</a> - {{ host.describe }}</div>
        {% else %}
            <div class="dir_line"><a href="/hosts/{{ host.id }}"><b>{{ host.name }}</b></a> - {{ host.describe }}</div>
        {% endif %}
    {% else %}
        Нет хостов для отображения
    {% endfor %}
</div>
{% endblock %}