{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(Admin=admin, Active='host') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<hr>
{% if EditHostInformation or admin %}
<div class="host_edit">
    <ul class="host_edit">
        <li class="host_edit"> <a class="host_edit" href="/host/{{ content['id'] }}/edit">Редактировать</a> </li>
        <li class="host_edit"> <a class="host_edit" href="/host/{{ content['id'] }}/add_service">Добавить сервис</a></li>
        <li class="host_add_button"> <a class="host_add_button" href="/route/{{ content['id'] }}">Маршрут</a> </li>
    </ul>
</div>
{% endif %}
{% if admin%}
<hr>
<div class="addGroup">
    <details>
        <summary>Добавить в группу</summary>
        <form action="/administrate/host/{{ content['id'] }}" method="POST">
            {{ form.csrf_token }}
            <p>
                {{form.name.label}}: {{ form.name() }} {{ form.add_sub() }}
            </p>
        </form>
    </details>
</div>
<hr>
{% endif %}
<div class="host">
<h3>{{ content['name'] }} {% if content['parent'] %}({{ content['parent'] }}){% endif %}</h3>
<table style="width: 700px;">
<tbody>
<tr>
<td style="width: 150px;">IP</td>
<td style="width: 550px;">{{ content['ip'] }}</td>
</tr>
<tr>
<td style="width: 150px;">Описание</td>
<td style="width: 550px;">{{ content['describe'] }}</td>
</tr>
<tr>
<td style="width: 150px;">Группы</td>
<td style="width: 550px;">{{ content['group'] }} ({{content['parent_group']}})</td>
</tr>
<tr>
<td style="width: 150px;">IPMI</td>
<td style="width: 550px;">{{ content['ilo_type'] }}: {{ content['ilo'] }}</td>
</tr>
<tr>
<td style="width: 150px;">Login</td>
<td style="width: 550px;">{{ content['default_login'] }}</td>
</tr>
<tr>
<td style="width: 150px;">Password</td>
<td style="width: 550px;">{{ content['default_password'] }}</td>
</tr>
{% if content['proxy'] %}
<tr>
    <td style="width: 150px;">Proxy</td>
    <td style="width: 550px;">Вкл</td>
</tr>
{% endif %}
</tbody>
</table>
{% if content['services'] %}
<div class="services">
    <h3>Подключеные сервисы</h3>
<table>
    {% for service in content['services'] %}
    <tr>
        <td style="width: 150px;">
            {% for type in content['service_type'] %}
            {% if type.id == service.type %}
            {{ type.name }}
            {% endif %}
            {% endfor %}
        </td>
        <td style="width: 450px;">
            {{ service.local_port }} -> {{ service.remote_ip }}:{{ service.remote_port }}
        </td>
        <td style="width: 450px;">{{ service.describe }}</td>
        <td style="width: 150px;">{% if service.internal %}Внутренний{% endif %}</td>
        {% if EditHostInformation or admin %}
        <td style="width: 150px;"><a href="/delete_service/{{ service.id }}"><button>Удалить</button></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
<h3>Note</h3>
    {% if content['note'] %}
        {% for key, value in content['note'].items()|sort() %}
            <h4>{{ key }}</h4>
            <p>{{ value }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}