{% extends "main.html" %}

{% block content %}
<div class="login">
    <h1>Вход в систему</h1>
    <form action="/login" method="POST" name="login">
        <input name="username" type="text" size="45"/><br/>
        <input name="password" type="text" size="45"/><br/>
        <input class="submit_login" type="submit" value="Войти"/><br>
    </form>
    {%- if error -%}
    <div class="loginError">
        {{ error }}
    </div>
    {% endif %}
    <br>
    <a href="/restore">Восстановить пароль</a>
    <br>
    <a href="/registration">Новый пользователь</a>
</div>

{% endblock %}
