{% macro show_menu(username, Admin=False, Active='home') %}

<div class="menu">
    <ul class="menu">
        <li class="menu">
            {% if Active == "home" %}
            <a class="active" href="/">
                <img
                        src="{{ url_for('static', filename='icon/home_black.png') }}"
                        alt="Home"
                        height="15px"
                >
            </a>
            {% else %}
            <a href="/">
                <img
                        src="{{ url_for('static', filename='icon/home_white.png') }}"
                        alt="Home"
                        height="15px"
                >
            </a>
            {% endif %}
        </li>
        {% if Active == "host" %}
        <li class="menu"><a class="active" href="/hosts">Узлы</a></li>
        {% else %}
        <li class="menu"><a href="/hosts">Узлы</a></li>
        {% endif %}
<!--        {% if Active == "statistic" %}-->
<!--        <li class="menu"><a class="active" href="/statistic">Статистика</a></li>-->
<!--        {% else %}-->
<!--        <li class="menu"><a href="/statistic">Статистика</a></li>-->
<!--        {% endif %}-->
        {% if Admin %}
            {% if Active == "settings" %}
            <li class="menu"><a class="active" href="/settings">Настройки</a></li>
            {% else %}
            <li class="menu"><a href="/settings">Настройки</a></li>
            {% endif %}
        {% endif %}
        <li class="menu" style="float:right"><a href="/logout">Выход</a></li>
        {% if Admin %}
            {% if Active == "administrate" %}
                <li class="menu" style="float:right"><a class="active" href="/administrate">Администрирование</a></li>
            {% else %}
                <li class="menu" style="float:right"><a href="/administrate">Администрирование</a></li>
            {% endif %}
        {% endif %}
        <li class="menu" style="float:right"><div>{{ username }}</div></li>
    </ul>
</div>
{% endmacro %}