{% extends "main.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{% if status %}
<div class="registrationStatus">
    {{ status }}
    <br>
    <a href="/">На главную</a>
</div>
{% else %}
<div class="registrationForm">
    <h3>Регистрация нового пользователя</h3>
    <form action="/registration" method="POST" name="registration">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.login, size=45) }}
            {{ render_field(form.password, size=45) }}
            {{ render_field(form.confirm, size=45) }}
            {{ render_field(form.full_name, size=45) }}
            {{ render_field(form.email, size=45) }}
            {{ render_field(form.ip, size=45) }}
        </dl>
        <p>{{ form.sub_reg() }}
    </form>
</div>
{% endif %}
{% if error %}
<div class="registrationError">
    <h3>{{ error }}</h3>
    <br>
    <a href="/">На главную</a>
</div>
{% endif %}
{% endblock %}