{% extends "main.html" %}

{% block content %}
{% if status %}
<div class="registrationStatus">
    {{ status }}
    <br>
    <a href="/">На главную</a>
</div>
{% else %}
<div class="registrationForm">
    <h3>Регистрация нового пользователя</h3>
    <form action="/registration" method="POST" name="registration">
        Логин:<br>
        <input name="username" type="text" size="45"/><br/>
        Пароль и подтверждение пароля:<br>
        <input name="password" type="password" size="45"/><br/>
        <input name="password_check" type=password size="45"/><br/>
        ФИО:<br>
        <input name="full_name" type="text" size="45"/><br/>
        E-Mail:<br>
        <input name="email" type="text" size="45"/><br/>
        IP-адрес или сеть:<br>
        <input name="ip" type="text" size="45"/><br/>
        <input class="submit_registration" type="submit" value="Регистрация"/><br>
    </form>
</div>
{% endif %}
{% if error %}
<div class="registrationError">
    <h3>{{ error }}</h3>
    <br>
    <a href="/">На главную</a>
</div>
{% endif %}
{% endblock %}