{% extends "main.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{%- if not status -%}
<center>
    <form action="/restore/{{key}}" method="POST" name="reset_password">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.password, size=45) }}
            {{ render_field(form.confirm, size=45) }}
        </dl>
        <p>{{ form.change_password() }}
    </form>
</center>
{% else %}
<center>
    <h3>{{status}}</h3>
    <br>
    <a href="/">назад</a>
</center>
{% endif %}
{% endblock %}