{% extends "main.html" %}

{% block content %}
{%- if not status -%}
<center>
    <form action="/restore/{{key}}" method="POST" name="reset_password">
        <span>Введите новый пароль 2 раза:</span><br>
        <input name="password" type="password" size="45"/><br/>
        <input name="password_check" type="password" size="45"/><br/>
        <input class="submit_login" type="submit" value="RESET"/><br>
    </form>
</center>
{% else %}
<center>
    <h3>{{status}}</h3>
    <br>
    <a href="/">назад</a>
</center>
{% endif %}
{% endblock %}