{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='host') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<hr>
<div class="addRoute">
    <details>
        <summary>Добавить</summary>
        <form action="/route/{{ host_id }}" method="POST">
            {{ form.csrf_token }}
            <p>
                {{form.route.label}}: {{ form.route() }} {{ form.add_sub() }}
            </p>
        </form>
        <hr>
    </details>
</div>
<hr>
{% if routes %}
<table>
    <tbody>
{% for route, host in routes %}
        <tr>
            <td style="width: 150px;">{{ route.sequence }}</td>
            <td style="width: 250px;">{{ host.name }}</td>
            <td style="width: 250px;">{{ host.ip }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<br>
<form action="/route/{{ host_id }}" method="POST">
{{ form.clear_sub() }}
</form>
{% else %}
<h4>Нет маршрутов</h4>
{% endif %}
{% endblock %}