{% extends "settings_header.html" %}

{% block settings %}
<hr>
<div class="settings">
    <h3>Настройки приложения</h3>
    <form action="/settings" method="POST" name="change_settings">
        <dl>
            {{ parameters_form.csrf_token }}
            {{ render_field(parameters_form.email_host) }}
            {{ render_field(parameters_form.email_port) }}
            {{ render_field(parameters_form.email_from) }}
            {{ render_field(parameters_form.email_cc) }}
            {{ render_field(parameters_form.auto_extension) }}
            {{ render_field(parameters_form.extension_days) }}
            {{ render_field(parameters_form.enable_route_map) }}
            {{ render_field(parameters_form.check_ip) }}
            {{ render_field(parameters_form.forward_tcp_port_disable) }}
            {{ render_field(parameters_form.forward_tcp_port_range) }}
        </dl>
        <p>{{ parameters_form.sub }}
    </form>
</div>
{% endblock %}