{% extends "main.html" %}
{% from "menu.html" import show_menu %}
{% from "search.html" import show_search %}
{% from "_formhelpers.html" import render_field %}

{% block header %}
{{ show_menu(username, Admin=admin, Active='settings') }}
{{ show_search(search) }}
{{ super() }}
{% endblock %}

{% block content %}
<hr>
<div class="settings_add_button">
    <ul class="settings_add_button">
        <li class="settings_add_button"> <a class="settings_add_button" href="/settings/prefix">Префиксы</a> </li>
        <li class="settings_add_button"> <a class="settings_add_button" href="/settings/ipmi">IPMI</a> </li>
        <li class="settings_add_button"> <a class="settings_add_button" href="/settings/service">Сервисы</a> </li>
    </ul>
</div>
<div class="settings_content">
    {% block settings %}{% endblock %}
</div>
{% endblock %}