{% extends "administrate.html" %}

{% block admin %}
{% if content['users'] %}
<table border="1">
    <tbody>
    <th>Login</th>
    <th>Имя пользователя</th>
    <th>Дата создания</th>
    <th>Дата отключения</th>
    <th>IP адрес</th>
    <th>Email</th>
    <th>Администратор</th>
    <th>Отключить</th>
    {% for user in content['users'] %}
    {% if user.disable or user.date_disable < cur_date %} <tr bgcolor="#ff807a"> {% else %} <tr> {% endif %}
        <td><a href="/administrate/user/{{ user.uid }}"> {{ user.login }}</a></td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.date_create }}</td>
        <td>{{ user.date_disable }}</td>
        <td>{{ user.ip }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if not user.admin %}
            <a href="/administrate/user/{{ user.uid }}/enable_admin"><button>Включить</button></a>
            {% else %}
            <a href="/administrate/user/{{ user.uid }}/disable_admin"><button>Выключить</button></a>
            {% endif %}
        </td>
        <td>
            {% if user.disable or user.date_disable < cur_date %}
            <a href="/administrate/user/{{ user.uid }}/enable"><button>Включить</button></a>
            {% else %}
            <a href="/administrate/user/{{ user.uid }}/disable"><button>Выключить</button></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}